<!--Incluindo a Partial referente ao Cabeçalho -->
     <% include ../header %>
        <center>
        <header>
            <h1>NTALK</h1>
            <h4>Seja Bem Vindo!</h4>
        </header>
               
                <section>
                    <form action="/entrar" method="post">
                        <input type="text" name="nome" placeholder="Seu nome">
                        <br>
                        <input type="text" name="email" placeholder="Seu e-mail">
                        <br>
                        <button type="submit">Entrar</button>
                    </form>
                </section>
                
        <% include ../footer %>
        </center>